<div class="container">
    <h1>Angular</h1>
    <div class="card">
        <div class="card-header">
            Change Text after button click on Angular
        </div>
        <div class="card-body">
            <br>
            <input class="form-control" [value]="i" />
            <br>
            <h5 class="card-title" style="color: silver;">Both text will change, after button click...</h5>
            <hr>
            <p class="card-text" style="color: red;">{{ i }}</p>
            <hr>
            <a (click)="onAddPost()" class="btn btn-primary">Click on Button to ChangeText...</a>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">
            Change Text after button click on Angular
        </div>
        <div class="card-body">
            <br>
            <input class="form-control" [value]="j" />
            <br>
            <h5 class="card-title" style="color: silver;">Both text will change, after button click...</h5>
            <hr>
            <p class="card-text" style="color: red;">{{ j }}</p>
            <hr>
            <a (click)="onAddPostJ()" class="btn btn-primary">Click on Button to ChangeText...</a>
        </div>
    </div>
</div>